header{
  width: 100%;
  padding: 10px 0 0 0;
  background: $dark-primary;

  nav{
     background-color: red;
     text-align: center;
     font-size: 0.9em;
     padding: 20px;

     .active{
       background: $dark-primary;
     }
  }

  a{
    text-decoration: none;
    color: $light-text;
    padding: 20px 25px;
    transition: $transition;
  }

  a:hover{
    background: $dark-primary;
  }
}
